<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>283989b932bf4d4494e4b306328c5e80</Guid>
            <Name>Cucumber</Name>
            <Objects>
                <Object>
                    <ObjectType>And</ObjectType>
                    <ObjectActions>
                        <Action guid="a7430e67ad36e3a4c0e744c988eb4c0d" ActionName="He or She Clicks" CodeSnippet="  And he or she clicks ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="b01c37db5985e8d1958704130da8d4a6" ActionName="He or She Enters" CodeSnippet="  And he or she enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="6bbeb715c0d83d004f464d78819c0094" ActionName="He or She has" CodeSnippet="  And he or she has ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="4fa2d4ce7b875ac7678a788f9c3f483e" ActionName="He or She Is" CodeSnippet="  And he or she is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="c460374ef029d77e63db1ea1a6fa141d" ActionName="He or She Navigates" CodeSnippet="  And he or she navigates to ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="626f492cb9372c9ecdb2b56537750da8" ActionName="He or She Selects" CodeSnippet="  And he or she selects '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a14880e13c38d2cf1c96c744c7178988" ActionName="He or She Submits Request" CodeSnippet="  And he or she submits the ~type~ request" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="1962860403954f78c710cab6ee682114" ActionName="He or She Takes" CodeSnippet="  And he or she takes ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2246b1fe95f61d125898485204d24ee5" ActionName="He or She Verifies" CodeSnippet="  &#10;  And he or she verifies ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="658b9b5769b2c23456a5b881b10b8673" ActionName="He or She Verifies He or She Is" CodeSnippet="  And he or she verifies he or she is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Framework</ObjectType>
                    <ObjectActions>
                        <Action guid="34eb7913dc8d85e279706dc6815b4bd4" ActionName="Feature" CodeSnippet="Feature: ##Title[f1]##&#10;##Description[f3]##&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e2057d877a8ba38e9e3eb3dcc482c897" ActionName="Feature Tags" CodeSnippet="##Cucumber: Feature Tags[f100020]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a8713f4a6b06a99320720b757d6a5117" ActionName="Scenario" CodeSnippet="Scenario: ##Path Name[p1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="10b627f31763fea897c3bd4936788edb" ActionName="Scenario Tags" CodeSnippet="##Cucumber: Scenario Tags[p100021]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="b13dcdfb063d1c367ba962af7626c75c" ActionName="Step Join" CodeSnippet="&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e29d99d9b1fa9ac4249d802fc41c9412" ActionName="TestCaseLink" CodeSnippet="@RALLYLINK_##External Link URL[p20][m5]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Given</ObjectType>
                    <ObjectActions>
                        <Action guid="49aae32a763f86d2569e2a706f5efa4b" ActionName="Persona Enters" CodeSnippet="  &#10;  Given ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="7e6862ac72b6f452ceaba741cbcb83be" ActionName="Persona Is" CodeSnippet="  &#10;  Given ~persona~ is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Target</ObjectType>
                    <ObjectActions>
                        <Action guid="33c669ab520869dcc67586d908a2f9ca" ActionName="Account Credentials Expired" CodeSnippet="an account with expired credentials" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="c368013926d35fd56633e871e91ec773" ActionName="Account Disabled" CodeSnippet="a disabled account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="8c5b48264e092d4853763dcc5138a0d8" ActionName="Account Expired" CodeSnippet="an expired account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e618c4f821324cba44c70b31c98b2d72" ActionName="Account Locked" CodeSnippet="a locked account" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="7a270f1a46c742a683adcc38b77cb7d9" ActionName="At the Page" CodeSnippet="at the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="9eff601237408991b791f75bb4a6d474" ActionName="Button" CodeSnippet="the ~button~ button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="eb288f786b24a706481a2410397f1edc" ActionName="Checkbox" CodeSnippet="the ~checkbox~ checkbox" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ea1bd4b55a0c166bcea1cbefbc7fec68" ActionName="Column" CodeSnippet="the ~column~ column" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f150e7418c4f6d58a1bd5461c72fc6b1" ActionName="Field Contains Value" CodeSnippet="~field~ contains ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ba5e20c38986033769d757fdd1f7334e" ActionName="Input Field" CodeSnippet="the ~inputField~ field" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="abbe1794c928729d8e875c2c618ecd98" ActionName="Is Not Present" CodeSnippet="the ~value~ is not present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2ed7344bd5ae41f59844cb76013deb27" ActionName="Is Present" CodeSnippet="the ~value~ is present" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="da521f5113a0e8c400972c62289b2562" ActionName="Key" CodeSnippet="the ~key~ key" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="2797204e2c95df955ce708794e21f3f2" ActionName="Logged In" CodeSnippet="logged into the application" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ad1de08989e69efe15cdd512eb67dd3e" ActionName="Menu" CodeSnippet="the ~menu~ menu" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="c47ce5bb902abe47b4b02dd697c44cbf" ActionName="Menu Option" CodeSnippet="the ~menu~ menu option" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="042d993bfbdaa509b039563dcad0d6ec" ActionName="New Customer" CodeSnippet="a new customer" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e5987291207decdca0c00abe0c14f46e" ActionName="Page" CodeSnippet="the ~page~ page" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="ff541a47897c0b27fedcbfd1c5082f9c" ActionName="Partial Text" CodeSnippet="partial text as '~value~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="aaeae7e3bd6e7b632105cf008d23fd0f" ActionName="Presented" CodeSnippet="presented with a ~value~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="8eb263dd23dcb227c0b4d1e0cdfed83f" ActionName="Radio Button" CodeSnippet="the ~radioButton~ radio button" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="f46325ae652e5aec45715cdb1be146a3" ActionName="Regsitered User" CodeSnippet="a registered user" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="a25595deeadbc91927b4da69e083d1d4" ActionName="Screenshot" CodeSnippet="screenshot" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="e1113be42a8c8957ee13c202b55cff39" ActionName="Table" CodeSnippet="to table with title '~title~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Then</ObjectType>
                    <ObjectActions>
                        <Action guid="64061994fba819b52becf0b27b86f9b1" ActionName="Persona Verifies" CodeSnippet="  Then ~persona~ verifies ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="963f513d8d14d9e5a16446ba5dd6d4d4" ActionName="Persona Verifies He or She Is" CodeSnippet="  Then ~persona~ verifies he or she is ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>When</ObjectType>
                    <ObjectActions>
                        <Action guid="67650b9d883dd0cec516c992b585ce40" ActionName="Persona Clicks" CodeSnippet="  When ~persona~ clicks ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="15736d52e2eb28676230e5722ce4eda9" ActionName="Persona Enters" CodeSnippet="  When ~persona~ enters '~value~' into ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="dbd27e66801539897dee04e41af318be" ActionName="Persona Navigates" CodeSnippet="  When ~persona~ navigates to ~target~&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action guid="430ac461f822a9ac6cabac711729e708" ActionName="Persona Selects" CodeSnippet="  When ~persona~ selects '~value~' from ~target~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <UTFByteOrderMark>0</UTFByteOrderMark>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="feature" fileNameVariable="" fileNamingSystem="2" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Feature</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <ObjectName></ObjectName>
                            <LayerId>283989b932bf4d4494e4b306328c5e80</LayerId>
                            <ObjectType>Framework</ObjectType>
                            <ActionName>Step Join</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="28d08801f19d45beb67dac1d563b52f2" xmlVersion="1.0" overrideSectionStepJoin="1">
                    <FlowHeader>
                        <AutomationStep guid="e7e6b5868ece10e426bced1dd325904c" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Feature" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="">
                            <Repeater guid="7b5c5e7e64cac8f4843e41defe207f18" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </FlowHeader>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin/>
                    <StepJoin>
                        <AutomationStep guid="be2e885467a54ac8b9e16a559666b9c0" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                            <Repeater guid="76262d873d5240e482c4ed15c1ef2181" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </StepJoin>
                </ContainerData>
                <AutomationSectionModel guid="bdf476318ba8c5aa1a35905b3e33897f" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="4e5e6a4292a43076ec6a6cf22c1761ee" xmlVersion="1.0">
                        <AutomationSection guid="eee420ba735845659e164b1cae3ea182" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="fb9b288dbd8569a8f8eb8516cf451f01" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Scenario" description="" defaultSelected="0" referencedRedundantSections="4346d62b120444ca8d4f3758f5f33faf;When,4e4386b68ca44045aee10ce1dcf0b0f8;Given And,95abb97d5400496480e2e6309085e4f8;Spacing">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader>
                                            <AutomationStep guid="95187edc637842fcae2bf448e29f5eb1" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="943d284d8a7b42ea861cb834b955756c" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="86098bc9e4a542c4b5d4a51f7fd1e94f" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario Tags" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="8c74ef0b4a87417290b45ad89b8f7cea" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="39c2625384cd4f6cb83193563b82e2f0" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="TestCaseLink" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                <Repeater guid="c7264aeba90640dc8c870778b34d142a" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                            <AutomationStep guid="fc9e8851e3344200b6ce5a362a4d1d66" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Scenario" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="e71d7c88df6944888a4e2c08a01fba9e;Given">
                                                <Repeater guid="9f312ccaeee1440192a81f86af56fa7e" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </SectionHeader>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems>
                                    <AutomationSectionModelItem guid="e2ce9652da70291cfae746625678805c" xmlVersion="1.0">
                                        <AutomationSection guid="e71d7c88df6944888a4e2c08a01fba9e" xmlVersion="1.0" name="Given" description="Given Condition" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader/>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="ca9995bed1974e4bbf8c83f1db8dee34" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="9b00cdf91b1a4c2c837f056d5bffddb8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="9b5a52cac5a035941f3d01f46c895a15" xmlVersion="1.0">
                                                <AutomationSection guid="85a0c20df2dd454797ba358288eeb98c" xmlVersion="1.0" name="And (Given)" description="And Section for Given" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="2ef91b60d12b4e60b320aa83cdbb4a0b" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="afe1bcece4be4d74aac08dc6e366cbd6" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="6d27dc90032a39849119ce290959319a" xmlVersion="1.0">
                                        <AutomationSection guid="25ffb4fa9b57471088e236d0dd457688" xmlVersion="1.0" name="When" description="When Condition" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="f2ba3d36786f4ccfab002f60e9e59205" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="1548ddfd049e45238c75a12d3d00a86d" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="7ab33ef83ae24c9493b041780d8f2161" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="e0fc05af04364d9391b93f0568f61524" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="2a425593120411ca1cca2ecc09fd33c4" xmlVersion="1.0">
                                                <AutomationSection guid="381f8c670f1240ed9a98d46d895c4187" xmlVersion="1.0" name="And (When)" description="And Section for When" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9f225d25603b4fad8701b903bfaa8cfe" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="9f8b43ca0eb4485687b830f2988b16cc" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                    <AutomationSectionModelItem guid="84a6a8c97ab770bb5960f994042ac88e" xmlVersion="1.0">
                                        <AutomationSection guid="c40058ac474e4370a5c9a5e481dc8441" xmlVersion="1.0" name="Then" description="Then Condition" defaultSelected="0" referencedRedundantSections="">
                                            <Steps>
                                                <InsertedSteps/>
                                                <SectionHeader>
                                                    <AutomationStep guid="789e6e4f1385424bb27f3aea39df7689" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="8a952dbc76694c65bb9780cc3347d371" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </SectionHeader>
                                                <SectionFooter/>
                                                <SectionJoin/>
                                                <StepHeader/>
                                                <StepFooter/>
                                                <StepJoin>
                                                    <AutomationStep guid="fcd7ac5ed91e4507bf53e3f578b8b8e8" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                        <Repeater guid="29819c1cb8494ce594e9591b3a556f3b" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                    </AutomationStep>
                                                </StepJoin>
                                            </Steps>
                                        </AutomationSection>
                                        <ChildItems>
                                            <AutomationSectionModelItem guid="f1df9d86b1264b43732fc4013b53befa" xmlVersion="1.0">
                                                <AutomationSection guid="e28b1755453d4565bed87ebf283cf543" xmlVersion="1.0" name="And (Then)" description="And Section for Then" defaultSelected="0" referencedRedundantSections="">
                                                    <Steps>
                                                        <InsertedSteps/>
                                                        <SectionHeader/>
                                                        <SectionFooter/>
                                                        <SectionJoin/>
                                                        <StepHeader/>
                                                        <StepFooter/>
                                                        <StepJoin>
                                                            <AutomationStep guid="9c971758b3ee4b30a1228e2349957353" xmlVersion="1.0" objectName="" layerId="283989b932bf4d4494e4b306328c5e80" objectType="Framework" actionName="Step Join" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="381f8c670f1240ed9a98d46d895c4187;And (When)">
                                                                <Repeater guid="e4d94ab35c184cd78b6f5210bd738ef9" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                                            </AutomationStep>
                                                        </StepJoin>
                                                    </Steps>
                                                </AutomationSection>
                                                <ChildItems/>
                                            </AutomationSectionModelItem>
                                        </ChildItems>
                                    </AutomationSectionModelItem>
                                </ChildItems>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
